.navbar{
    box-shadow: 5px 5px 20px gray;
}
.brand{
    color: white;
    margin-left: 2%;
}
.nav-links,.login-box, .cart-iconBox{
    display: flex;
    
}
.nav-links{
    margin-right: 5%;
    display: flex;
    gap: 25%;
    
}
.cart-icon{
    font-size: 1.5em;
    color: white;
}
 h5{
    color: white;
    
}